@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.inter {
  font-family: "Inter";
}

.roboto {
  font-family: "Roboto";
}

.nunito-sans {
  font-family: "Nunito Sans";
}

.bg-primary {
  background-color: #0098db;
}

.text-primary {
  color: #0098db;
}

.border-primary {
  border-color: #0098db;
}

.bg-secondary {
  background-color: #fdc553;
}

.text-secondary {
  color: #fdc553;
}

.text-shadowed {
  -webkit-text-stroke: #3a3a3a 1px;
}

.scrollbar-custom::-webkit-scrollbar {
  height: 5px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 20px;
}
